$site_blue: #0282f9;
$site_x_padding: 0 10rem;

main{
    background-color: #1c1c1c;

    .jumbo-container{
        position: relative;
        height: 500px;

        img{
            height: 100%;
            object-fit: cover;
            width: 100%;
            object-position: center 0;
        }

        .title{
            position: absolute;
            bottom: -20px; 
            background-color: $site_blue;
            left: 9rem;
            height: 40px;
            line-height: 40px;
            padding: 0 1rem;
            color: white;
        }
    }

    .comicses-container{
        display: flex;
        flex-wrap: wrap;
        padding: 0 9rem;
        justify-content: space-between;

        .comics{
            width: calc(100% / 6);
            display: flex;
            flex-direction: column;
            padding: 2rem 1rem;
            color: white;

            img{
                margin-bottom: 1rem;
            }
        }
    }

    .button-container{
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;

        button{
            background-color: $site_blue;
            padding: 0.5rem 1.5rem;
            border: 0;
            color: white;
        }
    }

    .links{
        display: flex;
        background-color: $site_blue;
        padding: $site_x_padding;

        .link{
            width: 20%;
            display: flex;
            align-items: center;
            color: white;
            padding: 2.5rem;

            img{
                height: 50px;
                margin-right: 1rem;
            }
        }
    }
}